.error {
	color: red;
	font-size: 14px;
	font-weight: normal;
}

.fee-false {
	background-color: #f39c12 !important;
}
.fee-true {
	background-color: #00a65a !important;
}
.box {
	margin-top: 35px;
}


.updateComments,
.oxyscoresampleClick {
	width: 100%;
	height: auto;
	float: left;
	cursor: pointer;
}
.adminComment {
	width: 100%;
	padding: 5px;
}
.blColor {
	color: #000000;
}
#displayEMIRecords td:hover,
#displayEMIRecords tr:hover {
	background: none !important;
}
.displayAllLoansInfo,
.displayAllLoansInfo a {
	color: #000000;
}
.displayAllLoansInfo .btn-outline {
	border: 1px solid #000 !important;
	background: transparent;
	color: #000 !important;
}
.userACTIVE,
.loanstatus-loanstatus,
.isactualPaymentDate_ {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.loanstatus-LOANOFFERACCEPTED,
.btn_CLOSED,
#btn_0 {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.loanStatus-Closed td {
	background: green;
}

.btn-INTERESTED,
.btn-OXYRECOMMENDS,
.btn-VERIFIED {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

#example2 tr th,
#example2 tr td {
	border: 1px solid #000;
}

#cboxLoadedContent img {
	height: auto !important;
	width: 500px !important;
}

.m-t10 {
	margin-top: 10px;
}
.p-24 {
	padding-left: 24px;
}
.offer_popup {
	border-radius: 6px;
}
.offer_popup h4 {
	font-size: 18px;
	color: #000;
	font-weight: 600;
}
.offer_popup h3 {
	font-size: 16px;
	color: #000;
	font-weight: 600;
	background: #b0d0e2;
	margin: 10px 0;
	padding: 8px 10px;
	border-radius: 2px;
}
.offer_popup .modal-header {
	border-bottom: 1px solid #a9a9a9;
}
.offer_popup_cont {
	margin: 30px 30px 0;
}
.offer_popup_field {
	margin: 0 0 10px;
}
.offer_popup_field label {
	display: block;
	margin: 0 0 7px;
	padding: 7px 0 0 !important;
	font-size: 14px;
	color: #1c75bc;
	font-weight: 500;
	width: 30%;
	float: left;
}

.fld-block {
	display: block;
	margin: 0;
	padding: 0;
	width: 65%;
	float: right;
	position: relative;
}

.offer_popup_field input {
	color: #000;
	display: block;
	margin: 0;
	padding: 7px 20px;
	border: 0;
	box-shadow: none;
	font-size: 13px;
	width: 100%;
	float: left;
	border-radius: 4px;
	background: none;
	outline: none;
	background: #f9fafd;
	border: 1px solid #dce1ee;
	border-radius: 4px;
}
.offer_popup_field select {
	color: #000;
	padding: 7px 20px;
	font-size: 13px;
	width: 100%;
	border-radius: 4px;
	background: none;
	outline: none;
	background: #f9fafd;
	border: 1px solid #dce1ee;
	border-radius: 4px;
}
.offer_popup_field textarea {
	width: 100%;
	color: #000;
	padding: 7px 20px;
	font-size: 13px;
	background: none;
	outline: none;
	background: #f9fafd;
	border: 1px solid #dce1ee;
	border-radius: 4px;
	resize: none;
}
.salary_profile {
	margin: 0 0 10px;
}
.salary_profile label {
	font-size: 14px;
	color: #1c75bc;
	font-weight: 600;
}

.btn-APPROVED,
.btn-REJECTED {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.APPROVED {
	color: #ffa500;
}
.emiUpdatedSuccessfully {
	background-color: green;
}
.emiStatusForViewtrue {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
}

.emiStatusForViewCOMPLETED {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	opacity: 0.25;
}

.emiDisplayBlock {
	border: 0px !important;
	padding: 10px 20px;
}
.emiDisplayBlock select {
	padding: 5px 8px;
	width: 100%;
}

.offer_popup_field1 {
	margin: 0 240px 24px 240px;
}
.offer_popup_field1 label {
	display: block;
	margin: 0 0 7px;
	padding: 7px 0 0 !important;
	font-size: 14px;
	color: #1c75bc;
	font-weight: 500;
	width: 30%;
	float: left;
}

.offer_popup_field1 select {
	color: #000;
	padding: 7px 20px;
	font-size: 13px;
	width: 100%;
	border-radius: 4px;
	background: none;
	outline: none;
	background: #f9fafd;
	border: 1px solid #dce1ee;
	border-radius: 4px;
}
.offer_popup_field1 input {
	color: #000;
	display: block;
	margin: 0;
	padding: 7px 20px;
	border: 0;
	box-shadow: none;
	font-size: 13px;
	width: 100%;
	float: left;
	border-radius: 4px;
	background: none;
	outline: none;
	background: #f9fafd;
	border: 1px solid #dce1ee;
	border-radius: 4px;
}

#example {
	background-color: #b0c4de;
}
.skin-green .sidebar-menu > li.active > a {
	border-left-color: #00a65a !important;
	background: #00a65a;
}
.hi-tree-menu a::before {
	content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #00c0ef; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.statepin {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}
.statepin label {
	width: 100% !important;
	font-weight: normal;
}
.statepin input {
	display: block;
	margin: 0;
	padding: 7px 10px;
	border: 1px solid #dce1ee;
	box-shadow: none;
	font-size: 13px;
	color: #0e0e0e;
	width: 80%;
	float: left;
	border-radius: 4px !important;
	background: #f9fafd;
	outline: none !important;
}
#modal-admincomment .modal-body {
	height: 400px;
	overflow-y: scroll;
}
#modal-admincomment .offer_popup_cont {
	margin: 10px;
}
#modal-admincomment .fld-block {
	width: 100%;
}
.mytextCheck br {
	margin-bottom: 15px;
}
.star-rating {
	line-height: 32px;
	font-size: 1.25em;
}

.star-rating .fa-star {
	color: yellow;
}
.bgcommentsHi {
	background: #ccc;
	padding: 0px 5px;
}
td.Lucky.Hyundai .hide.result-lucky {
	display: block !important;
}
td.Saral.Talwar .hide.result-saral {
	display: block !important;
}
td.Sharanya.Lodge .hide.result-sharanya {
	display: block !important;
}
td.Sai.Sreedevi.Hyundai .hide.result-sree {
	display: block !important;
}
td.Saral.Talwar .hide.result-saral {
	display: block !important;
}
td.Saral.Talwar .hide.result-saral {
	display: block !important;
}
td.TollGate .hide.result-toll {
	display: block !important;
}
.form-groups {
	color: #1c75bc;
	opacity: 0.65;
	filter: alpha(opacity=65);
}
#names {
	left: 25%;
	height: 100px;
}
.vannumber {
	left: 25%;
	height: 100px;
}
.dates {
	left: 50px;
	top: 9px;
}
.mtop30 {
	margin-top: 40px !important;
	width: 100%;
	float: left;
}
.tableDivs {
	display: table;
	width: 100%;
}
.row {
	display: table-row;
	float: left;
	padding: 15px 0;
	width: 100%;
	margin: 0px;
}
.cell {
	display: table-cell;
	height: 60px;
	border-bottom: 1px solid #c2c2c2;
	float: left;
}
.cell input {
	margin-top: 3px;
}
.formTopRows {
	margin: 8px 0;
}
.btn-ref {
	margin-top: -1px;
	float: right;
}
.classcopyrefLink {
	margin-top: -25px;
	margin-bottom: 5px;
}
.notopMargin {
	margin-top: 0px;
}
.newDashboard .table {
	margin-bottom: 0px;
}

.regDropDown {
	border-radius: 4px;
	background: #f9fafd;
	border: 1px solid #dce1ee;
	-webkit-appearance: button;
}
td.highlSec {
	background: #c9c9c9;
	font-weight: bold;
}
.alcenter {
	text-align: center;
}
.lenderNewDashboardHeading {
	text-align: center;
	background: green;
	color: #ffffff;
	font-weight: bold;
}
.dnmP {
	margin: 15px auto !important;
	width: 100%;
	float: left;
}
.noTopPadding {
	padding-top: 0 !important;
}
.norecordsfound {
	text-align: center;
}
.colYell {
	color: yellow;
}
.newheadBGfodb {
	background: #16d39a !important;
	color: #ffffff;
}
.btn-Edit-ACHIEVED {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
}
.btn-query-Completed,
.isdealCreated-CREATED {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=100);
}
.query-Completed {
	font-size: 16px, bold;
	color: orange;
}
.bodyContentNewPopUp label {
	text-align: left;
	font-size: 18px;
}
#closedDealConfirmationFromAdmin .thank-you-pop span {
	font-size: 18px;
}
#closedDealConfirmationFromAdmin .thank-you-pop {
	text-align: left;
}
#closedDealConfirmationFromAdmin .popbtns {
	width: 150%;
	padding: 11px 35%;
}
.p1Approved {
	color: green;
	font-weight: bold;
}
.tright {
	text-align: right;
}
.dealProtcats {
	font-weight: bold;
}
.f-right {
	float: right;
}
.f-left {
	float: left;
}
.rttext {
	text-align: right;
}
.mtop20 {
	margin-top: 20px;
}
.btn-top-alg {
	margin-top: 8px;
}
.dealStatus-Achieved {
	display: none;
}
.downloadexcelIcon {
	color: white;
	padding-right: 10px;
}
.referredBy-0 {
	display: none;
}
.uploadAttachment label {
	margin-left: 25px;
}
.uploadAttachment .upload_pdf {
	margin-right: 230px;
}
.approval_2_H2H {
	padding-bottom: 10px;
}
.approval_2_H2H .approvingUser {
	width: 40px;
	height: 20px;
}
.approval_2_H2H .approvingUser .h2hApproveText {
	margin-left: 100px;
}
.dealApprovalStatus_APPROVED {
	color: orange;
	font-weight: bold;
}

.withdrawalText {
	color: red;
	text-transform: capitalize;
	font-family: sans-serif;
	font-weight: bold;
	align-content: center !important;
}
#companyDocumetDrive {
	border: 3px solid red;
	background: red;
	padding: 8px 20px;
}
.isEnable_Disable {
	display: none;
}
.mytopPa {
	margin-top: 20px;
}

.emailcontent p,
.emailcontent span {
	padding: 0 20px;
}
.emailcontent ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 15px;
	margin-top: 10px;
}
.emailcontent ul li {
	margin-bottom: 5px;
	line-height: 25px;
}
.content-listhead {
	font-weight: bold;
	font-size: 18px;
}
.reffrimg img {
	height: 150px;
}
.reffrimg {
	margin-left: -15px;
}
.mns15 {
	margin-left: -15px;
}
.panel-body {
	margin-left: 0px;
}
.leftsecblkreff span {
	margin-bottom: 5px;
	width: 100%;
	float: left;
}

.sbtBtnsPs button {
	width: 100%;
	margin-top: 20px;
	float: left;
	padding: 10px 10px;
}
.reff .info {
	background-color: #e7f3fe;
	padding: 10px;
	border-left: 6px solid #2196f3;
}
#refLinkU {
	border-radius: 2px;
	width: 250px;
	border: 1px solid #cccccc;
	font-size: 12px;
	font-weight: normal;
	padding: 8px 6px;
	margin-right: 5px;
	color: #222222;
}
/* styling button */

#nrirefLinkU {
	border-radius: 2px;
	width: 273px;
	border: 1px solid #cccccc;
	font-size: 12px;
	font-weight: normal;
	padding: 8px 6px;
	margin-right: 5px;
	color: #222222;
}

#borrowerRefLinkU {
	border-radius: 2px;
	width: 240px;
	border: 1px solid #cccccc;
	font-size: 12px;
	font-weight: normal;
	padding: 8px 6px;
	margin-right: 5px;
	color: #222222;
}
#copyText {
	padding: 6px 11px;
	font-size: 15px;
	font-weight: bold;
	background-color: #121212;
	color: #efefef;
}

#myTab {
	margin-top: 30px;
	width: 100%;
}
#tabsForRef .nav-item {
	height: 70px;
	padding: 15px;
	background: black;
}
#myTabContent {
	height: 10px;
}
.referralText .headLineText {
	font-size: 16px;
	font-weight: bold;
}
#tabsForRef .nav-tabs {
	margin: 0;
	padding: 0;
	border: 0;
}
#tabsForRef .nav-tabs > li > a {
	background: #dadada;
	border-radius: 0;
	box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, 0.4),
		-2px -2px 5px -2px rgba(0, 0, 0, 0.4);
}
#tabsForRef .nav-tabs > li.active > a,
#tabsForRef .nav-tabs > li.active > a:hover {
	background: #f5f5f5;
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.4),
		-2px -3px 5px -2px rgba(0, 0, 0, 0.4);
}

/* Tab Content */
#tabsForRef .tab-pane {
	background: #f5f5f5;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	border-radius: 0;
	text-align: center;
	padding: 10px;
}
.content-wrapperN {
	padding: 0 2%;
	width: 98%;
}
.content-wrapperN span {
	padding: 0 5px;
}

.content-wrapper {
	height: 100vh !important;
}

.invBlock {
	color: #000000;
}
.fontchange {
	font-family: "Exo", sans-serif;
	font-family: "Montserrat", sans-serif;
}
.totalEarnings {
	color: #00a65a;
	font-size: 16px;
}
.totalInvestment {
	color: #0275d8;

	font-size: 16px;
}
.totalprincipalAmount {
	color: #5bc0de;
	font-size: 16px;
}
.unpaidreferralEarnings,
.paidReferralAmount {
	color: #d9534f;
	font-size: 16px;
}
.refTabBlock {
	margin: 15px 0;
}
.refTabBlock .nav-tabs {
	width: 100%;
	background-color: #f2f2f2;
	padding: 5px 2% 0 2%;
}
.refTabBlock .nav-tabs > li.active > a {
}
.refTabBlock .tab-content {
	padding: 15px;
	min-height: 530px;
	border: 8px #f2f2f2 solid;
	border-top: 0px;
}
.bulkinviteRow {
	width: 100%;
	text-align: center;
	margin: 15px 0;
}
.i_gmailcontacts {
	background-color: #ffffff !important;
	border-color: #d93025 !important;
	color: #d93025 !important;
	border: 2px #d93025 solid !important;
	width: 250px;
	text-align: left !important;
}
.i_gmailcontacts:hover {
	background: #d93025 !important;
	color: #ffffff !important;
	border: 2px #d93092 solid !important;
}
.i_gmailcontacts i {
	margin-right: 8px;
}

.i_browsefromComputer {
	background-color: #ffffff;
	border-color: #d93025;
	color: #d93025;
}
.i_mailicon {
	background-image: url(../images/mailh.png);
	background-size: contain;
	float: left;
}
.i_gmailcontacts:hover ~ .i_mailicon {
	background-image: url("../images/mailw.png");
	background-size: auto;
	width: 45px;
}

.i_browsefromComputer {
	background-color: #ffffff !important;
	border-color: #0078d4 !important;
	color: #0078d4 !important;
	border: 2px #0078d9 solid !important;
	width: 250px;
	text-align: left !important;
}

.i_browsefromComputer:hover {
	background-color: #0078d4 !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
	border: 2px #ffffff solid !important;
}

.orthis {
	position: relative;
	margin: 20px auto;
	text-align: center;
	width: 250px;
	color: #999999;
}
.orthis:before {
	content: "";
	display: block;
	border-top: solid 2px #bebebe;
	width: 100%;
	height: 2px;
	position: absolute;
	top: 50%;
	z-index: 0;
}
.orthis span {
	background: #fff;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}
.newSTH {
	font-family: "Exo", sans-serif;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	width: 350px;
}
.content-wrapperN {
	display: none;
}
.neoText .neo-head,
.neo-Oxy,
.neo-Oxycontent1,
.neo-Oxycontent2 {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
}
.btn-ref-nri,
.btn-ref,
.btn-ref-borrower {
	width: 200px;
	text-align: center !important;
}
.autoimp {
	width: auto !important;
}
.neo-btns button,
.newSTH {
	margin-top: 2px;
	margin-bottom: 4px;
}
.lable_mobileDiv {
	display: none;
}

.account_form input {
	color: #000;
}

.form-lft {
	width: 100%;
	display: block;
	padding: 0 10px;
	margin: 0 0 8px;
}

@media only screen and (max-width: 420px) {
	.form-lft {
		padding: 0 2% !important;
	}
}

.myEarningStatus {
	width: 120px;
	padding: 4px;
	margin-top: 5px;
	margin-left: 12px;
}

.form-lft .selectize-input {
	float: left !important;
}
.form-lft {
	padding: 0 2% !important;
}

.account_form input {
	padding: 7px 10px;
	display: block;
	color: #000;
	width: 100%;
	background-color: #f1f1f1;
	line-height: inherit;
	border: 1px solid transparent;
}

.flagimageforRef {
	height: 10px;
	margin-top: 1px;
}

.nriimage {
	margin-right: 10px;
}

.classcopyrefLink,
.dowloadReferralStatus {
	margin: 3px;
}

.flex-rowdata {
	flex-direction: row;
	justify-content: space-evenly;
	font-weight: 700;
	font-family: sans-serif;
	margin: 20px;
}
.partnerDash {
	display: block;
	min-height: 90px;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 10%);
	border-radius: 2px;
	margin-bottom: 15px;
	margin: 20px;
	border: 5px solid transparent;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, 0.125);
	border-radius: 1rem;
}

.card-footer {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	font-size: 45px;
	line-height: 90px;
}
.partner-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	height: 120px;
	width: 90px;
	font-size: 45px;
	line-height: 90px;
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 10px;
}

.card-body .numbers p {
	font-size: 12px;
	font-weight: bold;
}
.numbers {
	margin-top: 25px;
}

.partdashFee {
	padding: 20px;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
	background-color: #1e5959;
}
.skin-blue .sidebar-menu > li.header {
	background: #0b2b40;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
	color: #fff;
	background: #0b2b40 !important;
}

.partnerTable {
	background-color: #029c9c;
	color: white;
	font-size: 14px;
}

@media only screen and (max-width: 991px) {
	.mobile_View_div {
		width: 100% !important;
		margin: 10px 0px 0px 0px;
	}
	.mobile_View_div button {
		width: 60% !important;
		float: left !important;
		margin: 5px 30px 0px 2px;
		display: flex !important;
	}
	.mobile_View_div .mobile_View_Hide {
		display: none !important;
	}
	.divBlock_Mob_001 .editloansRequest button {
		margin: 5px !important;
	}
	.classcopyrefLink {
		margin-left: 10px !important;
	}
	.divLoanEligibilityInfo,
	.upload-Query {
		width: 100% !important;
	}
	.mbl-ref-form {
		float: right !important;
		margin-right: 100px !important;
	}
	.mbl-ref-form img {
		margin-left: 130px !important;
	}
	.lable_mobileDiv {
		display: inline-block;
		width: 110px;
		font-weight: bold;
	}
	.mobileDiv_4,
	.divBlock_Mob_002 {
		display: none !important;
	}
	.divBlock_Mob_001 {
		border: #cccccc solid 3px;
		border-radius: 5px;
	}
	.mobileDiv_3 .dealID {
		display: none;
	}
	.mobileDiv_3 tr {
		border-width: 5px;
		margin-bottom: 15px;
		width: 100%;
		float: left;
	}
	.mobileDiv_3 tr td {
		width: 100%;
		border-width: 0px;
		display: flex !important;
	}
	.mobile_Res_web {
		float: left !important;
	}
	.payment_status tr {
		border-width: 5px;
		margin-bottom: 10px;
		width: 100%;
		float: left;
	}
	.payment_status tr td {
		width: 50%;
		border-width: 0px;
		display: flex !important;
	}
	.mobile_Bank_res {
		float: left !important;
		margin-left: -70px !important;
	}
	.step1 {
		padding: 0px !important;
		width: 100%;
		transition: 0.25s ease-in-out;
	}
	.mobile_Select {
		margin: 15px !important;
	}
	.mobile_Select_div {
		float: right !important;
	}
	.mobile_View_hide {
		display: none !important;
	}
	.refTabBlock .tab-content {
		min-height: 700px !important;
	}
	.frame {
		margin: 50% !important;
	}
	.tab-pane {
		display: none;
	}
	.form-group {
		width: 100%;
		display: block;
	}
}
.MobDiv_05 {
	display: none !important;
}

.fa_copyRefLink {
	margin-left: 15px;
	color: #ffffff;
}

.cmsfileINITIATED,
.cmsfilePartnerReject,
.cmsfilePartnerShortList {
	display: none;
}

.userACTIVE,
.loanstatus-loanstatus {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.enach_false_false,
.enach_false_true,
.enach_true_false,
.btn-APPROVED-w2w,
.btn-REJECTED-w2w {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.loansaccepted_LOANOFFERCOMPLETED {
	display: block !important;
}

.defend_LOANOFFERCOMPLETED {
	display: block;
}
.offfend_LOANOFFERCOMPLETED,
.defend_LOANOFFERACCEPTED,
.defend_PartnerApproved,
.defend_PartnerShortList,
.defend_PartnerReject {
	display: none;
}

.cmspassword,
.paymentverifyLoginpassword {
	display: block;
	width: 20%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

.cms-submit {
	padding: 5px 8px;
	margin-left: 50px;
	background-color: green;
	color: white;
	font-size: 13px;
	margin-top: 9px;
}

.dealClosedUser_0 {
	background-color: #cfeed2 !important;
}

.lildark {
	opacity: 0.5;
	position: relative;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 30%;
	left: 40%;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadercontainer {
	display: block;
	position: absolute;
	height: 200px;
	width: 200px;
	margin: 0;
	padding: 0;
	top: 80%;
	left: 60%;
	transform: translate(-80%, -60%);
}

.outer {
	position: absolute;
	border-left: 3px solid #eb4d4b;
	border-right: 3px solid #eb4d4b;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	animation: rotate 0.8s linear infinite;
}
.inner {
	position: absolute;
	border-left: 3px solid #eb4d4b;
	border-right: 3px solid #eb4d4b;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	top: 30px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	animation: rotatemiddle 0.8s linear infinite;
}
.middle {
	position: absolute;
	border-left: 3px solid #eb4d4b;
	border-right: 3px solid #eb4d4b;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	top: 60px;
	left: 60px;
	bottom: 60px;
	right: 60px;
	animation: rotateouter 0.8s linear infinite reverse;
}
.dot {
	position: absolute;
	top: 90px;
	left: 90px;
	bottom: 90px;
	right: 90px;
	border-radius: 50%;
	background-color: #eb4d4b;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotatemiddle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotateouter {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadersec {
	opacity: 0.2;
	position: relative;
	pointer-events: none;
	/* z-index: -1;*/
}
.loder2 {
	display: flex;
	position: absolute;
	width: 70px;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 60%;
	transform: translate(-60%, -50%);
	opacity: 0;
	z-index: 20;
}

.loder2 span {
	background-color: white;
	height: 40px;
	width: 10px;
	margin: 0px 1px;
	animation: loader2 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.loder2 span:nth-child(1) {
	background-color: rebeccapurple;
	animation-delay: 0.1s;
}
.loder2 span:nth-child(2) {
	background-color: rgb(108, 9, 206);
	animation-delay: 0.2s;
}
.loder2 span:nth-child(3) {
	background-color: rosybrown;
	animation-delay: 0.3s;
}
.loder2 span:nth-child(4) {
	background-color: rgb(5, 145, 183);
	animation-delay: 0.4s;
}
.loder2 span:nth-child(5) {
	background-color: rgb(219, 124, 9);
	animation-delay: 0.5;
}
.loder2 span:nth-child(6) {
	background-color: rgb(153, 192, 10);
	animation-delay: 0.6s;
}

@keyframes loader2 {
	0% {
		transform: scaleY(0.1);
	}
	33% {
		transform: scale(1);
	}
	66%,
	100% {
		transform: scaleY(0.1);
	}
}
.admincomments_null {
	display: none !important;
}

.cmsFileStatus_EXECUTED {
	pointer-events: none;
	opacity: 0.5;
}

.userReturnStatus_WALLET,
.userReturnStatus_WALLET:hover {
	background-color: #ffffe0 !important;
	z-index: 9999;
}
.userReturnStatus_BANKACCOUNT,
.userReturnStatus_BANKACCOUNT:hover {
	background-color: #add8e6 !important;
	z-index: 9999;
}
.userWalletAmount_0,
.userWalletAmount_0:hover {
	background-color: #ffc9bb !important;
	z-index: 9999;
}

.ispaymentExecited_EXECUTED {
	background-color: #ffb2b2 !important;
	color: white !important;
}
.cmscheckboxs {
	max-width: 400px;
	display: flex;
	flex-direction: row;
	column-gap: 8px;
}
.cmsfilescomments {
	width: 132px;
	height: 75px;
	resize: none;
	outline: none;
}
.btn-dealsummery {
	background-color: #808080;
	color: white;
}
.btn-dealsummery:hover {
	background-color: #808080;
	color: white;
}
.interestSumarry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	left: -12px;
}
.runningheader {
	margin-top: 20px;
	left: -20;
}

/* .hold-request-fields {
	display: flex;
	flex-direction: row;
	position: relative;
}
.hold-btn-amount {
	position: absolute;
	right: 0;
	margin-right: 20px;
	margin-top: 25px;
}

.hold-amount-text {
	width: 360px;
	height: 35px !important;
	resize: none;
}
.border-line {
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.border-line hr {
	border: 2px solid gray;
}

.table-breakup thead {
	background-color: #b0c4de;
}
.border-line div {
	font-family: sans-serif;
	font-size: 20px;
	text-transform: capitalize;
	letter-spacing: 2px;
} */

.hold-amount-box {
	display: flex;
	flex-direction: row;
	background-color: white;
}

.hold-amount-inputs {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	width: 70%;
	position: relative;
}
.hold-amount-inputs .hold-amount-inputs-fields {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 10px;
	position: relative;
}

.hold-amount-inputs-fields label {
	width: 25%;
	margin-bottom: 10px;
	text-align: start;
	font-weight: 400 bold;
	text-transform: uppercase;
}

.hold-amount-inputs-fields input,
.hold-amount-inputs-fields textarea {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	margin-left: 30px;
	margin-bottom: 10px;
}
.hold-amount-inputs-fields textarea {
	resize: none;
}
.holdamount-text {
	font: 300 2rem small-caption;
	letter-spacing: 1px;
	transform: translateY(50%);
	position: absolute;
	margin-left: 20px;
}
.hold-headsection {
	position: relative;
}
.hold-amount-inputs-fields button {
	text-align: center;
	height: 3rem;
	width: 62%;
	border-radius: 2px;
	background-color: #00a65a;
	color: white;
	font: 600 bold small-caption;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 26px;
	outline: none;
}

.fd-amount-payment button {
	text-align: center;
	height: 3rem;
	width: 43%;
	border-radius: 2px;
	color: white;
	font: 600 bold small-caption;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	padding: 0px 20px;
}
.showUserDeals::before {
	content: "";
	position: absolute;
	height: 100%;
	width: auto;
	border-right: 4px solid rgb(197, 193, 193);
	margin-top: -40px;
}

.showUserDeals div {
	width: 100%;
	padding: 10px 20px;
}
.loadWallet {
	display: flex;
	margin-left: 30%;
	padding: 10px 0px 20px 0px;
	align-items: center;
}
.loadWallet > button {
	padding: 10px 20px;
	text-align: center;
	border-radius: 10px;
	font-weight: 300;
	font-size: 15px;
}

.upload_Block {
	display: flex;
	height: 100%;
	width: 100%;
	position: relative;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}
.upload_Block input {
	width: 50%;
	outline: none;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-image: none;
}

.w2w-block-INITIATED,
.w2w-block-REQUESTED 
{
	display: block !important;
}
.w2w-blockShow-APPROVED,
.w2w-blockShow-REJECTED,
.w2w-blockShow-CANCELLED,
.w2w-blockShow-USERREJECTED,
.w2w-blockShow-ADMINREJECTED,
.w2w-blockShow-AUTOREJECTED
 {
	display: block !important;
}

.holdAmount_Process {
	text-align: center !important;
	font-weight: bold;
	font-size: 16px;
	padding: 3px;
	margin-top: 30px;
	outline: none;
}

@media only screen and (max-width: 768px) {
	.upload_Block {
		display: flex;
		height: 100%;
		width: 100%;
		position: relative;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}
	.upload_Block input {
		width: 100%;
		outline: none;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #ccc;
		background-image: none;
	}

	.lenderRegistered,
	.borrowerRegistred {
		color: #3c8dbc !important;
	}
}

.studentloandiv {
	height: 130vh;
	position: relative;
}
.fetchblock {
	position: relative;
	display: block;
}
.fetchBorrowerData {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	width: 50%;
	align-items: center;
}
#fetechUserid {
	width: 50% !important;
	float: right;
	margin-right: 10px;
}

.input-box > div > input {
	width: 60% !important;
}
.fdpaymentDetails {
	margin-left: 15px !important;
}
.paidcheckBoxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.interestCard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	height: 200px;
	font-family: sans-serif;
	text-align: center;
	margin: auto auto;
	/*display: flex;
	align-items:center;
	flex-direction: column;
	position: relative;*/
}
.interestDays > div {
	line-height: 25px;
}

.fd-field-block {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 10px 0px;
	position: relative;
}

.fd-field-block label {
	width: 35%;
}

.fd-field-block input {
	width: 60%;
}
.fd-field-block button {
	text-align: center;
	position: absolute;
	top: 0px;
	left: 500px;
}

.uploadscreenshot > input {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	width: 100%;
	outline: none;
}
.form-fd-input {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;

	outline: none;
}
.errorborrowerid {
	position: absolute;
	top: 35px;
	left: 151px;
}

.errorfdpaymentborrowerid {
	position: absolute;
	top: 50px;
	left: 170px;
}

.fdnagativeList,
.fdnagativeList_NEGATIVE {
	background-color: #fedada !important;
	color: black !important;
}

.fd_NEGATIVE {
	display: block !important;
}

.fd_runnings_SAVED {
	display: block !important;
}
.search-fd-bar {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.search-container {
	position: relative;
	border: none;
}
.search-container input {
	border: 1px solid #ddd;
	box-shadow: none;
	color: #333;
	font-size: 15px;
	height: 40px;
	display: block;
	padding: 0.375rem 0.75rem;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 0.25rem;
	text-indent: 25px;
	outline: none;
	margin: 0px 10px 0px 0px;
}
.search-container span {
	position: absolute;
	margin-top: 14px;
	z-index: 20;
	margin-left: 10px;
}

.searchbar_btn {
	height: 100%;
	min-height: 40px;
	width: 10%;
}
.fdstastics>th {
	width: 50%;
	background-color: #b0c4de;
	color: black;
}

.imagepart>img{
	max-height: 100px;
	max-width: 100px;
	align-content: center;
}




.largeImagePart{
	text-align: center;
}


.largeImagePart img{
  max-width: 100%;
  height: 300px;
  object-fit: cover;

}


.btn-withdrawINITIATED{
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}